@media(max-width: 375px){
    header{
        height: 40px;
        justify-content: flex-end;
    }

    .logo{
        display: none;
    }

    .search{
        position: relative;
        margin-right: 20px;
    }

    .search input{
        width: 200px;
        height: 26px;
    }

    header ul{
        padding: 0;
        gap: 5px;
    }

    header img{
        height: 25px;
    }

    #language{
        font-size: 25px;
    }

    .menu{
        display: none !important;
    }

    .content{
        margin: 0;
        width: 100%;
    }

    .drones{
        grid-template-columns: repeat(2, 1fr);
    }

    .drone-card{
        width: 145px;
        height: 198px;
        padding: 10px;
    }
    
    .drone-card .images {
        width: 145px;
        height: 139px;
    }

    .drone-card .top-right-images{
        top: 5px;
        right: 5px;
    }

    .drone-card .top-right-images a {
        width: 11px;
    }
}