/* Dark Theme */
body.dark_theme {
  background-color: #3c3d37;
  color: #ffffff;

  .nav_logo a {
    color: white;
  }

  .lang_button {
    color: #121212;
  }

  .span_lang {
    color: #000000;
  }

  .exchange_rate {
    background-color: #838383;
  }

  .model_details {
    p {
      color: white;
      font-weight: 700;
    }

    h3 {
      color: #ccc;
      font-weight: 700;
    }
  }

  .component_text {
    color: #eee;
  }

  .dropdown_menu {
    a {
      color: white;
    }
    background-color: #697565;
  }

  .left-section {
    background-color: #697565;
  }

  header {
    color: #1e201e;
  }

  .icons {
    .dark_theme {
      .logo a,
      .nav-links a {
        color: #ffffff;
      }
    }
  }

  .search_bar {
    input {
      background-color: #444444;
      color: #ffffff;
      border: 1px solid #666666;
    }
  }

  .section_header{
    color: white;
  }

  #search_item {
    background-color: #81907c;
    /* border: none; */
  }

  .component_icon_hover {
    opacity: 1;

    &:hover {
      background-color: #444444;
    }
  }

  .footer_text {
    color: #ffffff;
  }

  .footer_bar {
    background-color: #3f3f3f;
  }
}
