@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Arimo:ital,wght@0,400..700;1,400..700&family=Big+Shoulders+Display:wght@100..900&display=swap');





::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: #9b9b9b;
  ;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #878787;
}

body {
  background-color: #ffffff;
  color: #5f5f5f;
  font-family: Poppins sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}


.exchange_rate {
  background-color: #d9d9d9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.2rem;
  font-family: Poppins, sans-serif;
}

header {
  padding: 15px 20px;
  background: #464649;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.burger_icon {
  position: relative;
  margin-top: 0.5rem;
}

.burger_icon a {
  color: #D9D9D9;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.burger_icon a:hover {
  transform: scale(1.2);
}



.nav_logo a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400#D9D9D9;
  font-family: Big Shoulders Display;
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#searchForm {
  width: 50%;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search_item {
  width: 100%;
  padding: 8px 36px 8px 12px;
  font-size: 1rem;
  border: 2px solid #ccc;
  background-color: #D9D9D9;
  border-radius: 24px;
  transition: border-color 0.3s;
}

.search-container i {
  position: absolute;
  right: 12px;
  font-size: 22px;
  color: #000000;
}

#search_item:focus {
  outline: none;
  border-color: #333;
}

#search_item::placeholder {
  color: #414141;
}



.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons {
  margin-right: 12px;
}

.icons a {
  color: #D9D9D9;
  font-size: 1.6rem;
  padding-right: 0.7rem;
  transition: transform 0.3s ease;
  display: inline-block;
}

.icons a:hover {
  transform: scale(1.2);
  color: #fcfcfc;
}

.language_bar {
  position: relative;
  display: inline-block;
}

.lang_btn {
  color: #D9D9D9;
  background: none;
  padding: 5px 0;
  font-size: 1.7rem;
  letter-spacing: 2px;
  padding-top: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  transition: transform 0.3s ease;
  font-family: Big Shoulders Display;
}

.lang_btn:hover {
  transform: scale(1.2);
  color: #fcfcfc;
}


.language_dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding: 10px 0;
  z-index: 1000;
  letter-spacing: 2px;
  font-size: 1.7rem;
  font-family: Big Shoulders Display;
}

.language_dropdown .dropdown_item {
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.language_dropdown .dropdown_item:hover {
  background-color: #f1f1f1;
}


.product {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s, color 0.3s;
}

.product_list {
  padding: 20px 0;
}

.product img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.product_details h2 {
  font-size: 20px;
  color: #5d5d5d;
}

.search_container {
  width: 400px;
  height: 300px;
}

.main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 20px;
}


.left-section {
  background-color: #D9D9D9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -3.3rem;

  display: flex;
  margin-left: -1.2rem;
}


.dropdown_menu {
  padding-top: 0rem;

}

.dropdown_menu a {
  display: block;
  width: 15rem;
  height: 9vh;
  padding: 21px 6px;
  font-size: 2rem;
  color:#464649;
  font-weight: 600;
  text-decoration: none;
  font-family: Alumni Sans, sans-serif;
  transition: background-color 0.2s;
  border-bottom: 2px solid rgb(255, 255, 255);

}

.burger_icon .dropdown_menu a:hover {
  background-color: #f0f0f0;
}

.burger_icon .dropdown_menu a:last-child {
  border-bottom: none;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -3rem;
}

.slider_container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 400px;
  position: relative;
}

.slide img {
  width: 100%;
  height: 94%;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 19px;
}

.slider_controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.control_btn {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 50%;
}

.control_btn:hover {
  background: rgba(0, 0, 0, 0.8);
}




.banner {
  background: url(../images/banner.webp);
  background-size: cover;
  padding: 3.5rem 0;
  text-align: center;
  margin-top: -3.6rem;

}

.banner_container {
  max-width: 700px;
  margin: 0 auto;
  color: #000000;
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 1rem;
}

.banner_container h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: Arimo, sans-serif;
}

.banner_container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: Arimo, sans-serif;
}

.banner_container form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.banner_container input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #fff;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.8);
  transition: border-color 0.3s;
}

.banner_container input:focus {
  border-color: rgb(0, 0, 0);
}

.banner_container button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5rem;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.6s;
  background: rgba(255, 255, 255, 0.8);
}

.banner_container button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.1);
}