<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/menu.css" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li class="lato-regular">
        <a
          href="/Course-work/Course_work/drones_page/index.html?type=drones"
          id="lang-drones">
          Дрони
        </a>
      </li>
      <li class="lato-regular">
        <a
          href="/Course-work/Course_work/drones_page/index.html?type=components"
          id="lang-components">
          Компоненти
        </a>
      </li>
      <li class="lato-regular">
        <a
          href="/Course-work/Course_work/comparison_page/items_comparison.html"
          id="lang-comparison">
          Порівняння
        </a>
      </li>
      <li class="lato-regular">
        <a
          href="/Course-work/Course_work/drones_page/assembly.html"
          id="lang-assembly">
          Збірка
        </a>
      </li>
    </ul>
  </body>
</html>
